body {
background-color: white;
}

#hlcol{
  background-color: grey;
  text-align: center;
}

#headline{

}

#row1 {
text-align: left;
}

#row2 {

}

#col1 {
  background-color: green;
  height:100%;
}

#separator {
width: 100%;
height: 5%;
background-color: black;
}

#dish1{
  width:50%;
}
#cost1{
  width: 50%;
}

#col2 {
background-color: red;
}

#finddish{
  height: 20%;
}

#dishes{
  background-color: blue;
  height: 80%;
}
