.dishimg{
    width: 200px;
    height:200px;
}

.dishes{
margin-left:2px;
margin-right:2px;
}
.dishname{
    color: rgb(235, 95, 14)
}
#tocenter{
    margin-left:50px;
    margin-top:10px;
}

#erroring{
    margin-left:40px;
    margin-top: 20px;
}